/* My normalize */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a[class] {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #fff;
}

/*  wrapper  */

.wrapper {
    width: 1200px;
    margin: 0 auto;
    /*  horizontal centering  */
}

.arrow {
    cursor: pointer;
    position:absolute;
    /* position: absolute/static/fixed;  */
    /* position: top/left/right/bottom;  */
}

.box {
    border: 2px solid #000;
    background-color: #ccc;
    height: 500px;
    margin: 20px 0;
    position: relative;
}

.text {
    padding: 20px;
    background-color: #000;
    color: #fff;
    width: 400px;
    position:absolute;
    right: 0;
    bottom: 0;
}

.title {
    text-align: center;
}

.title-1 {
    font-size: 50px;
    margin: 25px 0 50px;
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: #fff;
    z-index: 1;
}

/* pseudo-elements 
   ::before
   ::after
*/
.title-1::before,
.title-1::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    border-radius: 50%;
}

.title-1::after {
    content: '';
    right: 0;
    left: auto;
}

/* pseudo-classes 
   :hover
*/
.title-1:hover {
    color: blue;
    text-decoration: underline;
}

.text-1 {
    font-size: 20px;
    background: #ccc;
    box-sizing: border-box;
}
/*
.text-1:hover {
    background-color: #000;
    color: #fff;
    padding-bottom: 50px;
}
*/
.title-2 {
    margin-top: 100px;
    /*  vertical margin collapse  */
}

.text-2 {
    font-size: 18px;
    background: #ccc;
}

.text-3 {
    font-style: italic;
}

.text-4 {
    text-align: right;
    font-size: 14px;
}